body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0e0e10;
  color: white;
  display: flex;
}
.sidebar {
  width: 220px;
  background: #18181b;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar a {
  color: #fff;
  margin: 10px 0;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}
.sidebar a:hover {
  background: #2f2f32;
}
.main {
  flex: 1;
  text-align: center;
  padding: 50px;
}
button {
  background: #00cc88;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
#ad {
  margin-top: 40px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
}
